

body {
	font-size: 16px;
	font-family: Georgia;
	border-radius: 0;
	/*background-color: lightgray;
*/
}

/*--------------- HEADER -----------------*/

#header-nav {
	/*height: 120px;*/
	background-color: white;
	border-radius: 0;
	border: 0;
	
}

.text-bold {
	font-weight: bold;
}

.primary-color-bg {
	background:  #2b6a84;
}

#topline {
	background-color: #2b6a84;
	height: 10px;
}



#logo-img {
	background: url('../img/Logo.png') no-repeat center;
	background-size: auto;
	width: 200px;
	height: 100px;
	vertical-align: bottom;
}


.navbar-brand h1 {
	display: none;
}


#nav-list a {
	text-transform: uppercase;
	transition: 0.5s;
	height: 120px;
	display: table-cell;
    vertical-align: bottom;
    padding: 0;
    font-family: Myriad Pro;
    font-size: 0.9em;
}

#nav-list {
	margin-bottom: 10px;
}


#nav-list a > div {
	width: 100%;
	border-right:  1px dashed #ccc;
	padding: 15px 22px 15px 22px;
}



#nav-list a > div.navbar-hide-border {
	border: 0;
}




#nav-list a:hover {
	background-color: #2b6a84;
	color: white;
	border: 0;
}

#nav-list a:hover > div {
	border-color: #2b6a84;
}


.navbar {
	min-height: 0;
	margin-bottom: 0;
}

.navbar-nav {
	margin: 0px -15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 0;
  	margin: 0;
	padding: 0;
	border-radius: 0;


}


.navbar-header button.navbar-toggle {
  clear: both;
  /*margin-top: -30px;*/
}

section.container {
 	background-color: #eee;
 	padding: 50px 0px;
 	clear:both;
 	
}

#start-img {
 	
 	background: url('../img/Start.png') no-repeat;
 	background-position: center;
 	background-size: cover;
 	height: 460px;
 	padding: 0;

}


#company-name {
	margin-top: 100px;
	font-style: italic;
	font-size: 30px;

	margin-left: 0;
	color: white;
	clear: both;
	padding: 10px 25px 10px 25px;
	margin-bottom: -10px;
}


#brand-name {
	margin-top: 0;
	margin-left: 200px;
	font-style: normal;
	clear: both;
	text-transform: uppercase;
	font-size: 20px;
	/*background-color: lightgray;*/
	background: rgba(255, 255, 255, 0.6);
	padding: 10px 12px 10px 12px;
}



section > p {
	
 	padding: 3% 12% 5% 12%;
}


section > h2 {
	
	text-align: center;
	font-style: italic;
	padding: 2% 12% 0 12%;
 }

 section > h3 {
	text-align: center;
	font-style: italic;
	padding: 5% 12% 0 12%;
	color: white;
}

#bg-img-paragraph {
	position: absolute;
}

#second-section {
 	background-color: #666666;
}

#second-section > p {
	color: white;
}


#second-section > p {
 	padding: 5% 20% 5% 20%;
}

.current-site {
 	background-color:  #2b6a84;
 	color: white !important;
}

#infos-btn {
 	margin-bottom: 50px;
 	font-size: 1em;

}


/* -----------FOOTER----------------*/

.panel-footer {
	border: 0;
	padding: 3% 0% 5% 0%;
 	
 	background-color: #2b6a84;
 	color: white;
}


#footer-name {
	background-color: #eee;
	
	padding: 20px 0 20px 30px; 
	color: initial;
	height: 100%;
}

#footer-adress {
	padding: 20px 0 20px 30px;
	height: 100%;
	background-color: #2b6a84;
}

#footer-contact {
	padding: 20px 0 20px 30px;
	background-color: #eee;
	color: initial;
	height: 100%;
}



footer > div > div.row {	
	margin-left: 0;
	margin-right: 0;
	height: 140px;
}

.panel-footer {
	border-radius: 0;
}

/*------- MEDIA QUERIES -------*/


/*@media (max-width: 575.98px) { 
	#nav-list a{
		height: 40px;
	}
}*/


@media (max-width: 767.98px) { 
	#nav-list a {
		height: 40px;
		width: 100vw;

	}
	#nav-list a > div {
		border:0;
		border-bottom: 1px 
	}
	#nav-list {
	margin-bottom: 0px;
}

}


@media (min-width: 768px) and (max-width: 991.98px) { 

	#logo-img {
		background: url('../img/Logo.png') no-repeat center;
		background-size: contain;
		width: 120px;
		vertical-align: bottom;
	}
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
}


@media (min-width: 1200px) {
}