

body {
	font-size: 16px;
	/*background-color: lightgray;
*/

}

#header-nav {

	background-color: white;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}

#topline {
	background-color: #0e75a0;
	height: 20px;
}

#logo-img {
	background-color: gray;
	width: 200px;
	height: 100px;
	margin: 10px 15px 10px 0;
}

.navbar-brand h1 {

	font-size: 1.8em;
	margin-top: 0px;
	margin-bottom: 0;
	text-shadow: 2px 2px 2px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
	text-transform: uppercase;
	padding-left: 20px;
	vertical-align: middle;
}

#nav-list a:hover {
	background-color: #0e75a0;
	color: white;

}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
 }

 section.container {
 	background-color: gray;
 	padding: 5% 12% 5% 12%;
 	padding: top bottom 7%;
 	text-align: center;
 }

 #start-img {
 	height: 340px;
 	background-color: lightgray;
 }